{:kotoba.package/name "kotoba-lang/forms"
 :kotoba.package/version "0.1.0"
 :kotoba.package/status :draft-unpublished
 :kotoba.package/kind :library
 :kotoba.package/repo-rid "bafyrepoforms1111111111111111111111111111111111111111111111"
 :kotoba.package/source
 {:git-commit "ec2eb3863a67cf7ff59e3d5b1c2e8334f8831f98"
  :tree-cid "bafytreeforms1111111111111111111111111111111111111111111111"
  :manifest-cid "bafymanifestforms111111111111111111111111111111111111111"}
 :kotoba.package/build
 {:deterministic true
  :profile-version 1}
 :kotoba.package/capabilities []
 :kotoba.package/provides [:app.kotoba.forms.form
                           :app.kotoba.forms.field
                           :app.kotoba.forms.submission]
 :kotoba.package/consumes []
 :kotoba.package/dependencies []
 :kotoba.package/signatures
 [{:did "did:key:z6Mkdraftforms"
   :alg :ed25519
   :sig "draft-signature-replace-before-publish"}]}
